body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #020617, #0f172a);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* container */
.container {
    background: #020617;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0,255,150,0.15);
}

/* affichage */
.screens {
    display: flex;
    gap: 40px;
    align-items: center;
}

/* LCD */
.lcd {
    width: 260px;
    height: 80px;
    background: black;
    color: #00ff9c;
    font-family: monospace;
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #00ff9c;
}

#lcd-line1, #lcd-line2 {
    height: 30px;
}

/* matrice */
.matrix {
    display: grid;
    grid-template-columns: repeat(5, 12px);
    gap: 4px;
}

.pixel {
    width: 12px;
    height: 12px;
    background: #020617;
}

.pixel.on {
    background: #00ff9c;
    box-shadow: 0 0 6px #00ff9c;
}

/* clavier */
#keyboard {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    gap: 8px;
}

.key {
    padding: 12px;
    background: #1e293b;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.key:hover {
    background: #334155;
    transform: scale(1.05);
}

.power { background: #16a34a; }
.shift { background: #9333ea; }

/* 7 segments */
.display-7seg {
    width: 110px;
    height: 190px;
    background: black;
    position: relative;
    border-radius: 10px;
}

.segment {
    position: absolute;
    background: #111;
}

.segment.on {
    background: #00ff9c;
    box-shadow: 0 0 10px #00ff9c;
}

#a { top: 5px; left: 20px; width: 60px; height: 10px; }
#d { bottom: 5px; left: 20px; width: 60px; height: 10px; }
#g { top: 85px; left: 20px; width: 60px; height: 10px; }

.vertical { width: 10px; height: 60px; }

#f { top: 20px; left: 5px; }
#b { top: 20px; right: 5px; }
#e { bottom: 20px; left: 5px; }
#c { bottom: 20px; right: 5px; }