body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* afficheurs */
.screens {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

/* LCD */
.lcd {
    width: 100px;
    height: 50px;
    background: black;
    color: lime;
    padding: 10px;
    font-size: 24px;
    border-radius: 10px;
}

/* matrice */
.matrix {
    display: grid;
    grid-template-columns: repeat(5, 10px);
    gap: 3px;
}

.pixel {
    width: 10px;
    height: 10px;
    background: #111;
}

.pixel.on {
    background: lime;
}

/* clavier */
#keyboard {
    display: grid;
    grid-template-columns: repeat(10, 45px);
    gap: 5px;
}

.key {
    padding: 10px;
    background: #1e293b;
    color: white;
    border: none;
    cursor: pointer;
}

.key:hover {
    background: #334155;
}

/* touches spéciales */
.special {
    background: #2563eb;
}

.power {
    background: #16a34a;
}

.shift {
    background: #9333ea;
}

/* 7 segments */
.display-7seg {
    width: 100px;
    height: 180px;
    background: black;
    position: relative;
}

.segment {
    position: absolute;
    background: #222;
}

.segment.on {
    background: lime;
    box-shadow: 0 0 10px red;
}

#a { top: 5px; left: 20px; width: 60px; height: 10px; }
#d { bottom: 5px; left: 20px; width: 60px; height: 10px; }
#g { top: 85px; left: 20px; width: 60px; height: 10px; }

.vertical {
    width: 10px;
    height: 60px;
}

#f { top: 20px; left: 5px; }
#b { top: 20px; right: 5px; }
#e { bottom: 20px; left: 5px; }
#c { bottom: 20px; right: 5px; }